---

- hosts: all
  become: true
  gather_facts: no
  vars_files:
    - input.yml

  tasks:
    - set_fact:
        update: "yes"
          
    - name: Update OS
      yum:
        name: '*'
        state: latest
      when: yes == "{{ update }}"

    - name: Create groups
      ansible.builtin.group:
        name: "{{ item.name }}"
        state: present
      with_items: "{{ groups_to_be_created }}"
  
    - name: Create local Users
      user:
        name: "{{ item.name }}"
        groups: "{{ item.groups }}"
        shell:  "{{ item.shell }}"
        comment: "{{ item.comment }}"
        password: "{{ 'Password1' | password_hash('sha512') }}"
        update_password: on_create
        append: yes
      with_items: "{{ users_to_be_created }}"
